<div class="header">
  <div class="title-wrapper">
    <h1 class="header-title">NOVA ADMISSÃO COOPERADO</h1>
    <span class="breadcrumbs"
      >Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado
    </span>
  </div>
  <div class="profile-wrapper">
    <div class="notifications">
      <div class="notification-icon">
        <span class="notification-amount">7</span>
        <img src="assets/header/bell.svg" alt="" />
      </div>
      <button type="button">
        <img src="assets/header/viacredi_button.svg" alt="" />
      </button>
    </div>
    <div class="profile-settings">
      <div class="profile-settings_picture">
        <img src="assets/header/profile-placeholder.webp" alt="" />
      </div>
      <img class="gear-icon" src="assets/header/gear.svg" alt="" />
      <!-- <img src="assets/header/profile-placeholder.webp" alt="" /> -->
    </div>
  </div>
</div>
