<div class="new-cooperate-wrapper">
  <section class="new-cooperate-input-section">
    <div class="title-information">
      <h1 class="title">Informe o CPF do futuro cooperado (a)</h1>
      <p class="legend">
        Se necessário, você poderá duplicar uma conta existente ou pausar e
        retomar este cadastro futuramente. <br />
        Digite apenas os números (sem pontos ou traços).
      </p>
    </div>
    <div class="consultation-field">
      <label class="cpf-label" for="cpf-field">CPF</label>
      <div class="consultation-field_input">
        <input
          id="cpf-field"
          name="cpf-field"
          type="text"
          [(ngModel)]="cpfConsultationValue"
        />
        <button type="button" (click)="searchCooperateWithCPF()">
          <span *ngIf="!isLoadingCooperate">Consulta por CPF</span>
          <img
            src="assets/loading_spinner.svg"
            alt=""
            *ngIf="isLoadingCooperate"
          />
        </button>
      </div>
    </div>
  </section>

  <section class="results-section" *ngIf="selectedCooperate">
    <div class="card-structure">
      <div class="card-header">
        <h1 class="title">Situação cadastral do CPF</h1>
        <span class="legend">Consulta na Receita Federal</span>
      </div>
      <div class="consultant-info">
        <img src="assets/person-icon.svg" alt="" />
        <div class="card-information">
          <h6>Nome</h6>
          <span>Mariane de Sousa Oliveira</span>
        </div>
      </div>
      <div class="cpf-situation">
        <img src="assets/check-circle.svg" alt="" />
        <div class="card-information">
          <h6>Situação do CPF</h6>
          <span>Regular</span>
        </div>
      </div>
    </div>
    <div class="card-structure">
      <div class="card-header">
        <h1 class="title">Conta aplicação</h1>
        <span class="legend">Cooperativa Viacredi</span>
      </div>
      <div class="consultant-info">
        <img src="assets/card.svg" alt="" />
        <div class="card-information">
          <h6>Número da conta</h6>
          <span>557932-4</span>
        </div>
      </div>
      <div class="duplicate-account">
        <a href="">Duplicar conta</a>
      </div>
    </div>
    <div class="card-structure">
      <div class="card-header">
        <h1 class="title">Conta corrente</h1>
        <span class="legend">Cooperativa Viacredi</span>
      </div>
      <div class="consultant-info">
        <img src="assets/card.svg" alt="" />
        <div class="card-information">
          <h6>Número da conta</h6>
          <span>778461-8</span>
        </div>
      </div>
      <div class="duplicate-account">
        <a href="">Duplicar conta</a>
      </div>
    </div>
  </section>
</div>
