<div class="steeper-bar">
  <ul class="stepper">
    <li
      class="step"
      *ngFor="let step of steps; index as i"
      (click)="currentStep = i"
    >
      <div
        class="step-bullet"
        [ngClass]="{
          'current-item': currentStep === i,
          'step-passed': currentStep > i
        }"
      ></div>
      <span
        class="step-label"
        [ngClass]="{
          'current-item': currentStep === i,
          'step-passed': currentStep > i
        }"
        >{{ step }}</span
      >
    </li>
  </ul>
</div>

<!-- Esse seria o primeiro step do stepper -->
<new-cooperate-admission-1
  (foundCooperate)="setCooperateFound($event)"
></new-cooperate-admission-1>
<!-- Esse seria o primeiro step do stepper -->

<div class="new-cooperate-footer">
  <div class="new-cooperate-footer__wrapper">
    <button
      type="button"
      class="new-admission primary-button"
      *ngIf="selectedCooperate"
      (click)="resetCooperate()"
    >
      Iniciar nova admissão
    </button>
    <button
      type="button"
      class="account-openning-tips secondary-button"
      (click)="
        isChecklistOpened = !isChecklistOpened; checklistSidenav.toggle()
      "
    >
      Dicas para abertura de conta
    </button>
  </div>
</div>

<div class="checklist-account-openning__sidenav">
  <div
    class="content-wrapper"
    class="background"
    [ngClass]="isChecklistOpened ? 'background-opened' : ''"
  >
    <mat-sidenav-container>
      <mat-sidenav #checklistSidenav position="end">
        <div class="checklist-account-openning__wrapper">
          <div class="checklist-account-openning__content">
            <div class="header-content">
              <h1>Check-list para abertura da conta</h1>
              <span class="check-tips"
                >Confira algumas dicas que irão lhe ajudar neste atendimento
                para que a admissão aconteça da melhor forma possível.</span
              >
              <div class="checkboxes">
                <div class="checkboxes__wrapper">
                  <app-custom-checkbox
                    [(checked)]="knowCooperateCheck"
                    label="Conheça seu cooperado"
                  ></app-custom-checkbox>
                  <ul class="checkbox-list" *ngIf="knowCooperateCheck">
                    <li>O que traz você até a Cooperativa?</li>
                    <li>O que é mais importante na sua vida?</li>
                    <li>Você tem algum sonho?</li>
                  </ul>
                </div>

                <div class="checkboxes__wrapper">
                  <app-custom-checkbox
                    [(checked)]="talkAboutCooperativeCheck"
                    label="Fale sobre a Cooperativa"
                  ></app-custom-checkbox>
                  <ul class="checkbox-list" *ngIf="talkAboutCooperativeCheck">
                    <li>
                      Modelo de Negócio: direito a voto, transparência na
                      gestão, PROGRID, retorno das sobras, taxas atrativas;
                    </li>
                    <li>
                      Rede de Atendimento: App, Conta Online, SAC, Caixas
                      Eletrônicos (compartilhados entre as Cooperativas), Postos
                      de Atendimento.
                    </li>
                  </ul>
                </div>

                <div class="checkboxes__wrapper">
                  <app-custom-checkbox
                    [(checked)]="necessaryDocumentsCheck"
                    label="Documentos e comprovações necessárias"
                  ></app-custom-checkbox>
                  <ul class="checkbox-list" *ngIf="necessaryDocumentsCheck">
                    <li>CPF regular na Receita Federal;</li>
                    <li>
                      Documento de Identificação (RG, CNH, Carteira de Trabalho,
                      RNM, Carteira Profissional, Passaporte Brasileiro);
                    </li>
                    <li>Comprovante de endereço;</li>
                    <li>Comprovante de renda.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="footer-content">
              <button
                type="button"
                class="secondary-button"
                (click)="
                  checklistSidenav.toggle();
                  isChecklistOpened = !isChecklistOpened
                "
              >
                Continuar atendimento
              </button>
            </div>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>
